* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.row-item {
    margin: 2em;
}

h1 {
    margin: 0;
}

#navbar {
    color: rgb(104, 104, 0);
    text-align: left;
    font-family: 'Albert Sans', sans-serif;
    background-color: rgb(133, 167, 179);
    padding: 0.5rem 2rem;
    width: 100%;
}

h2 {
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 200;
    font-size: 3rem;
}

body {
    background-color: rgb(227, 244, 255);
    margin: 0;
    border: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    text-align: center;
}

.quiz-list {
    text-align: left;
    font-weight: normal;
}

#user-quiz-div {
    color: olive;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    width: 100%;
    max-width: 25rem;
    max-height: fit-content;
}

#user-quiz-div p {
    padding: 0;
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    font-size: 2rem;
}

#create-a-quiz {
    padding: 0;
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    font-size: 2rem;
}

#create-caption {
    padding: 0;
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.5rem;
}

#statement-caption {
    font-size: 1.2rem;
    font-family: 'Albert Sans', sans-serif;
    padding-bottom: 1rem;
    text-align: center;
}

div h2 {
    padding: 1rem;
    word-spacing: .2rem;
    letter-spacing: .05rem;
    margin: 0 auto;
    color: black;
}

.col-1 {
    margin: 0;
    width: 50%;
}

.col-2 {

}

#statement {
    background-color: rgb(144, 181, 194);
}

#existing-quizzes {
    color: olive;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    width: 100%;
    max-width: 25rem;
    max-height: fit-content;
}

#create-quiz {
    color: olive;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    width: 100%;
    max-width: 25rem;
    max-height: fit-content;
}

#score-el {
    color: olive;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    background-color: whitesmoke;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    max-width: fit-content;
    max-height: fit-content;
}

#divider {
    height: 0.3rem;
    background-color: black;
}

#existing-header {
    font-family: 'Albert Sans', sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    padding: 0rem .2rem;
}

button {
    padding: 0.5em;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    border: none;
    background-color: lightgrey;
    border-radius: 60px;
    box-shadow: 0 0 2px;
    transition: 50ms;
}

button:hover {
    background-color: grey;
}

button:active {
    background-color: lightgrey;
}

div ul li button {
    margin: 10px;
}

#reset-score-btn {
    font-family: 'Albert Sans', sans-serif;
    border: none;
    color: white;
    background-color: rgb(218, 2, 2);
    border-radius: 60px;
}

#reset-score-btn:active {
    position: relative;
    background-color: rgb(182, 0, 0);
    top: .15rem;
}

#create-btn {
    font-family: 'Albert sans', sans-serif;
    font-weight: 300;
    border: none;
    background-color: lightgrey;
    border-radius: 0;
    margin-top: 0.5rem;
}

#create-btn:hover {
    background-color: grey;
}

#create-btn:active {
    background-color: lightgrey;
}
