body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    color: olive;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    max-width: fit-content;
}

.question-div-el {
    padding: 20px;
}

.question-el {
    background-color: green;
    padding-bottom: 10px;
    margin: auto;
}

.answer-el {
    background-color: green;
    margin: auto;
}
